@font-face {
  font-family: 'RetroPixel';
  src: url('./assets/fonts/retro-pixel-petty-5x5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JockeyOne';
  src: url('./assets/fonts/JockeyOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* body {
  font-family: 'RetroPixel', sans-serif;
} */

/* 示例使用新字体 */
/* .h1-jockey {
  font-family: 'JockeyOne', sans-serif;
} */
